body {
  margin: 0;
}

svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  max-width: 100%;
  max-height: 100%;
}

[id$="-template"],
[id$="-input"] {
  display: none;
}

[id$="-draw-line"] {
  stroke-dashoffset: 3000;
  stroke-dasharray: 3000;
  stroke-linecap: round;
}

[id$="-input"] {
  opacity: 0;
  transition: opacity 0.5s;
}

.show {
  display: block !important;
  opacity: 1 !important;
}

.show [id$="-draw-line"] {
  animation: draw 5s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* .show-steps-le-1 #step-1-draw-line {
  animation: draw 5s linear forwards;
}

.show-steps-le-2 #step-1-draw-line,
.show-steps-le-2 #step-2-draw-line {
  animation: draw 5s linear forwards;
} */
