body {
  margin: 0;
}

svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.text-task {
  font-family: "Learning Curve";
  font-size: 21mm;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre;
  color: #6685d4;
}

.text-task .template > *,
.text-task .input {
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-task .red {
  color: red;
  -webkit-text-stroke: blue 0.5px;
}

.text-task .blue {
  -webkit-text-stroke: blue 6.5px;
}

.text-task .green {
  -webkit-text-stroke: #0f0 14px;
}

.step > * {
  display: none;
}

.show {
  display: block !important;
}

/* =================================  ANIMATIONS  ================================= */

.input .blink,
.input .appear {
  opacity: 0;
}

.input .blink,
.input .appear,
.input .draw-line.d0 {
  animation-delay: 0.5s;
  transition-delay: 0.5s;
}

.show.input .blink {
  animation-name: appear;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}

.show.input .appear {
  animation-name: appear;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.skip-animation *:not(.draw-line) {
  opacity: 1 !important;
  animation: none !important;
  transition-delay: 0s !important;
}

.input .hide {
  opacity: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* =================================  DELAYS  ================================= */

.d1 {
  animation-delay: 1.5s;
  transition-delay: 1.5s;
}

.d2 {
  animation-delay: 2.5s;
  transition-delay: 2.5s;
}

.d3 {
  animation-delay: 3.5s;
  transition-delay: 3.5s;
}

.d4 {
  animation-delay: 4.5s;
  transition-delay: 4.5s;
}

.d5 {
  animation-delay: 5.5s;
  transition-delay: 5.5s;
}

.d6 {
  animation-delay: 6.5s;
  transition-delay: 6.5s;
}

.d7 {
  animation-delay: 7.5s;
  transition-delay: 7.5s;
}

.d8 {
  animation-delay: 8.5s;
  transition-delay: 8.5s;
}

.d9 {
  animation-delay: 9.5s;
  transition-delay: 9.5s;
}

.d10 {
  animation-delay: 10.5s;
  transition-delay: 10.5s;
}

.d11 {
  animation-delay: 11.5s;
  transition-delay: 11.5s;
}

.d12 {
  animation-delay: 12.5s;
  transition-delay: 12.5s;
}
